
/*body style*/
body {
    background-color: #cccccc;
    font-family: 'Times New Roman', Times, serif;
    color:black
}
/*for the header*/
header.large {
    font-size: 1.25em;
}

/*style horizontal lines*/
hr {
    color:blueviolet
}

/*italized elements*/
i {
    color:teal
}

/*boldened elements*/
b {
    color:blueviolet 
}

/*id for headers and class for strong elements*/
#headers .specs strong{
    background-color:rgb(49, 48, 48);
    color:teal
}

/*make class for heading*/
.topic {
    color:rgb(0, 128, 58);
}

.questions{
    color:rgb(12, 163, 113);
}

h3, h4 {
    color:red
}

hr {
    width:4%;
    height:2%
}

footer {
    color:white;
    background-color:black;
}