/*this is my styling sheet */

body {
    background-color: #cccccc;
    font-family: 'Times New Roman', Times, serif;
    color:black
}
header.large {
    font-size: 1.25em;
}

hr {
    color:blueviolet
}

i {
    color:teal
}

b {
    color:blueviolet 
}
#headers .specs strong{
    background-color:rgb(49, 48, 48);
    color:teal
}

.topic {
    color:rgb(0, 128, 58);
}

.questions{
    color:rgb(12, 163, 113);
}

h3, h4 {
    color:red
}

hr {
    width:4%;
    height:2%
}

footer {
    color:white;
    background-color:black;
}